/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media screen and  (max-width: 320px) and (min-width: 0px) {

    nav.navbar .navbar-brand {
        padding: 3px 20px;
    }
    nav.navbar.bootsnav .navbar-toggle {
        margin: 0;
        margin-top: 5px;
    }
    /*top navbar*/

    nav.navbar.bootsnav {
        margin: 0;
    }
    .top-social-list li a, .top-social-list-two a{
        font-size: 12px;
        padding: 2px 6px;
    }
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }

    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 35%;
    }
    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1, .registration-form-left h1{
        font-size: 28px;
        line-height: 30px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }

    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 20px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }

    /*demo5 slider*/

    .biz-roted-text span{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .rotated-slider-text p{
        padding: 0;
        font-size: 14px;
        line-height: 20px;
    }

    /*demo6 slider*/
    .custom-subscribe-form{
        width: 100%;
    }
    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .about-new-content h6{
        font-size: 14px;
    }
    .about-new-content h3{
        font-size: 18px;
        line-height: 25px;
    }

    /*section heading*/

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }
    .count-description{
        font-size: 13px;
    }

    /*team section*/
    .biz-team-three-content h6{
        font-size: 16px;
        margin-top: 10px;
    }

    .biz-team-three-content p{
        font-size: 13px;
        line-height: 15px;
    }


    /*testimonial*/
    .white-indicator.owl-theme .owl-nav.disabled+.owl-dots, .color-indicator.owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .biz-call-to-action:after{
        width: 0;
        height: 0;
        top: 0;
    }

    .client-testimonial{
        margin-bottom: 30px;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 20px;
        line-height: 25px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 80%;
        margin-bottom: 10px;
    }


    /*contact us*/
    .contact-us-content{
        padding: 0;
    }

    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .content-overlay {
        width: auto;
    }
    .content-overlay h3 {
        font-size: 16px;
        margin-top: 110px;
    }
    .content-overlay h1 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    .content-overlay a {
        display: none;
        visibility: visible;
    }
    .content-overlay p {
        font-size: 10px;
        margin: 0;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
    .about-bg2 {
        padding: 0 50px;
    }
    .single-service-promo {
        padding: 40px;
    }
    .custom-reg-form-two {
        display: none;
        visibility: visible;
    }
    .particles-section .content-bg h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .particles-section .content-bg a.color-1 {
        display: none;
        visibility: visible;
    }
    
}

/* Custom, iPhone Retina */
@media screen and (max-width: 360px) and (min-width: 321px) {
    /*top navbar*/
    .top-social-list li a, .top-social-list-two a{
        font-size: 12px;
        padding: 2px 6px;
    }
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }

    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 35%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1, .registration-form-left h1{
        font-size: 28px;
        line-height: 30px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }
    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 20px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }
    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 20px;
        line-height: 20px;
    }

    .rotated-slider-text p{
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    /*demo6 slider*/
    .custom-subscribe-form{
        width: 100%;
    }

    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    nav.navbar.bootsnav {
        margin: 0;
    }
    .pt-250 {
        padding-top: 150px; 
    }
    .btn-play {
        margin-top: 20px;
    }
    .about-new-content h6{
        font-size: 14px;
    }
    .about-new-content h3{
        font-size: 18px;
        line-height: 25px;
    }

    /*section heading*/

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }
    .count-description{
        font-size: 13px;
    }

    /*team section*/
    .biz-team-three-content h6{
        font-size: 16px;
        margin-top: 10px;
    }

    .biz-team-three-content p{
        font-size: 13px;
        line-height: 15px;
    }


    /*testimonial*/
    .white-indicator.owl-theme .owl-nav.disabled+.owl-dots, .color-indicator.owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .biz-call-to-action:after{
        width: 0;
        height: 0;
        top: 0;
    }

    .client-testimonial{
        margin-bottom: 30px;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 20px;
        line-height: 25px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 80%;
        margin-bottom: 10px;
    }


    /*contact us*/
    .contact-us-content{
        padding: 0;
    }

    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .blog-title {
        height: 280px;
    }
    .page-breadcrumbs h2 {
        font-size: 32px;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
    .about-bg2 {
        padding: 0 50px;
    }
    .single-service-promo {
        padding: 40px;
    }
    .custom-reg-form-two {
        display: none;
        visibility: visible;
    }
    .particles-section .content-bg h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .particles-section .content-bg a.color-1 {
        display: none;
        visibility: visible;
    }
}

/* Custom, iPhone Retina */
@media screen and (max-width: 375px) and (min-width: 361px) {
    nav.navbar.bootsnav {
        margin: 0;
    }
    /*top navbar*/
    .top-social-list li a, .top-social-list-two a{
        font-size: 12px;
        padding: 2px 6px;
    }
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }

    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 35%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1, .registration-form-left h1{
        font-size: 28px;
        line-height: 30px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }
    .btn-play {
        margin-top: 40px;
    }

    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 20px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }

    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 20px;
        line-height: 20px;
    }

    .rotated-slider-text p{
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    /*demo6 slider*/
    .custom-subscribe-form{
        width: 100%;
    }
    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .pt-250 {
        padding-top: 100px; 
    }
    .about-new-content h6{
        font-size: 14px;
    }
    .about-new-content h3{
        font-size: 18px;
        line-height: 25px;
    }

    /*section heading*/

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }
    .count-description{
        font-size: 13px;
    }

    /*team section*/
    .biz-team-three-content h6{
        font-size: 16px;
        margin-top: 10px;
    }

    .biz-team-three-content p{
        font-size: 13px;
        line-height: 15px;
    }


    /*testimonial*/
    .white-indicator.owl-theme .owl-nav.disabled+.owl-dots, .color-indicator.owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .biz-call-to-action:after{
        width: 0;
        height: 0;
        top: 0;
    }

    .client-testimonial{
        margin-bottom: 30px;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 20px;
        line-height: 25px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 80%;
        margin-bottom: 10px;
    }


    /*contact us*/
    .contact-us-content{
        padding: 0;
    }

    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .content-overlay {
        width: 100%;
        height: 100%;
    }
    .particles-section .content-bg h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .particles-section .content-bg a.color-1 {
        display: none;
        visibility: visible;
    }
    .page-middle {
        width: auto;
    }
    .blog-title {
        height: 280px;
    }
    .page-breadcrumbs h2 {
        font-size: 32px;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .content-overlay {
        width: auto;
    }
    .content-overlay h3 {
        font-size: 20px;
        margin-top: 80px;
    }
    .content-overlay h1 {
        font-size: 34px;
        margin: 0;
    }
    .content-overlay a {
        display: none;
        visibility: visible;
    }
    .content-overlay p {
        font-size: 14px;
        margin: 0;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
    .about-bg2 {
        padding: 0 50px;
    }
    .single-service-promo {
        padding: 40px;
    }
    .custom-reg-form-two {
        display: none;
        visibility: visible;
    }

}

/* Extra Small Devices, Phones */
@media screen and (max-width: 414px) and (min-width: 376px) {
    /*top navbar*/
    .top-social-list li a, .top-social-list-two a{
        font-size: 12px;
        padding: 2px 6px;
    }

    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }
    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 35%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1, .registration-form-left h1{
        font-size: 28px;
        line-height: 30px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }
    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 20px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }
    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 20px;
        line-height: 20px;
    }

    .rotated-slider-text p{
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    /*demo6 slider*/
    .custom-subscribe-form{
        width: 90%;
    }
    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    nav.navbar.bootsnav {
        margin: 0;
    }
    .pt-250 {
        padding-top: 150px; 
    }
    .btn-play {
        margin-top: 20px;
    }
    .about-new-content h6{
        font-size: 14px;
    }
    .about-new-content h3{
        font-size: 18px;
        line-height: 25px;
    }

    /*section heading*/

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }
    .count-description{
        font-size: 13px;
    }

    /*team section*/
    .biz-team-three-content h6{
        font-size: 16px;
        margin-top: 10px;
    }

    .biz-team-three-content p{
        font-size: 13px;
        line-height: 15px;
    }


    /*testimonial*/
    .white-indicator.owl-theme .owl-nav.disabled+.owl-dots, .color-indicator.owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .biz-call-to-action:after{
        width: 0;
        height: 0;
        top: 0;
    }

    .client-testimonial{
        margin-bottom: 30px;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 20px;
        line-height: 25px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 80%;
        margin-bottom: 10px;
    }


    /*contact us*/
    .contact-us-content{
        padding: 0;
    }

    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .blog-title {
        height: 280px;
    }
    .page-breadcrumbs h2 {
        font-size: 32px;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .content-overlay {
        width: auto;
    }
    .content-overlay h3 {
        font-size: 20px;
        margin-top: 120px;
    }
    .content-overlay h1 {
        font-size: 40px;
        margin: 0;
    }
    .content-overlay a {
        display: none;
        visibility: visible;
    }
    .content-overlay p {
        font-size: 14px;
        margin: 0;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
    .about-bg2 {
        padding: 0 50px;
    }
    .single-service-promo {
        padding: 40px;
    }
    .custom-reg-form-two {
        display: none;
        visibility: visible;
    }
    .particles-section .content-bg h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .particles-section .content-bg a.color-1 {
        display: none;
        visibility: visible;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) and (min-width: 415px) {
    /*top navbar*/
    .top-social-list li a, .top-social-list-two a{
        font-size: 12px;
        padding: 2px 6px;
    }

    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }
    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 35%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1, .registration-form-left h1{
        font-size: 28px;
        line-height: 30px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }
    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 20px;
    }

    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }
    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 20px;
        line-height: 20px;
    }

    .rotated-slider-text p{
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    /*demo6 slider*/
    .custom-subscribe-form{
        width: 80%;
    }
    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .about-new-content h6{
        font-size: 14px;
    }
    .about-new-content h3{
        font-size: 18px;
        line-height: 25px;
    }

    /*section heading*/ 

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }


    /*testimonial*/
    .white-indicator.owl-theme .owl-nav.disabled+.owl-dots, .color-indicator.owl-theme .owl-nav.disabled+.owl-dots{
        display: none;
    }
    .biz-call-to-action:after{
        width: 0;
        height: 0;
        top: 0;
    }

    .client-testimonial{
        margin-bottom: 30px;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 20px;
        line-height: 25px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 80%;
        margin-bottom: 10px;
    }


    /*contact us*/
    .contact-us-content{
        padding: 0;
    }

    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 568px) and (min-width: 481px) {
    /*top navbar*/
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }
    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 42%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1, .registration-form-left h1{
        font-size: 30px;
        line-height: 30px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }

    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 30px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }
    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 30px;
        line-height: 30px;
    }

    .rotated-slider-text p{
        padding: 0;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .about-new-content h6{
        font-size: 15px;
    }
    .about-new-content h3{
        font-size: 20px;
        line-height: 25px;
    }

    /*section heading*/

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 20px;
        line-height: 25px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 40%;
        margin-bottom: 10px;
    }


    /*contact us*/
    .contact-us-content{
        padding: 0;
    }

    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 640px) and (min-width: 569px) {
    /*top navbar*/
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }
    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 42%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1{
        font-size: 30px;
        line-height: 35px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }
    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 35px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }

    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 30px;
        line-height: 30px;
    }

    .rotated-slider-text p{
        padding: 0;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }


    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }

    /*section heading*/

    .headingOne h2{
        font-size: 20px;
        line-height: 25px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 22px;
        line-height: 28px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 40%;
        margin-bottom: 10px;
    }

    /*contact us*/
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Small Devices, Tablets */
@media screen and (max-width: 720px) and (min-width: 641px) {
    /*top navbar*/
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }
    /*slider*/

    .biz-hero-slider .owl-nav div.owl-prev, .biz-hero-slider .owl-nav div.owl-next{
        padding: 0;
        margin: 0;
        top: 42%;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 50px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 50px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1{
        font-size: 30px;
        line-height: 35px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 15px;
        line-height: 18px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }


    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 45px;
    }

    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }

    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 35px;
        line-height: 35px;
    }

    .rotated-slider-text p{
        padding: 0;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    /*section heading*/

    .headingOne h2{
        font-size: 22px;
        line-height: 28px;
    }
    /*counter section*/
    .counter-info{
        border: none;
    }

    /*testimonial*/

    .biz-call-to-action:after{
        height: 600px;
    }



    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }


    /*subscribe section*/
    .subscribe-content h2{
        font-size: 25px;
        line-height: 30px;
    }

    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 40%;
        margin-bottom: 10px;
    }

    /*contact us*/
    .contact-us-content{
        padding: 0;
    }
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) and (min-width: 721px) {
    /*top navbar*/
    .text-right.top-social-list, .biz-topbar-info-list, .top-social-list-two{
        text-align: center;
    }
    .biz-topbar {
        display: none;
        visibility: visible;
    }
    nav.navbar.bootsnav {
        margin: 0;
    }
    /*slider section*/

    .biz-hero-slider-text{
        top:0;
        padding: 50px 25px;
    }

    .biz-hero-text-inner h1{
        font-size: 22px;
        line-height: 25px;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 80px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 80px;
    }

    .hero-login-form h1, .video-popup-slider h1, .content-text h1{
        font-size: 35px;
        line-height: 35px;
    }

    /*demo2 slider*/

    .video-popup-slider p, .content-text p{
        font-size: 16px;
        line-height: 20px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }
    /*demo3 slider*/
    .content-text h1, .content-text p{
        padding: 0 55px;
    }
    /*demo4 slider*/
    .video-slider-text-padding{
        padding: 5% 0 10% 0;
    }
    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 40px;
        line-height: 40px;
    }

    .rotated-slider-text p{
        padding: 0 5%;
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    /*demo6 slider*/
    .custom-subscribe-form{
        width: 80%;
    }
    /*about section*/
    .pb-100{
        padding-bottom: 30px;
    }
    .ptb-100{
        padding: 30px 0;
    }
    .pt-250 {
        padding-top: 150px; 
    }
    .btn-play {
        margin-top: 20px;
    }
    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }

    /*counter section*/
    .counter-info{
        border: none;
    }
    /*testimonial*/
    .biz-call-to-action:after{
        width: 55%;
    }

    /*pricing section*/
    .biz-pricing-single-wrap{
        padding: 50px 15px;
    }

    /*subscribe section*/
    .subscribe-content h2{
        font-size: 28px;
        line-height: 30px;
    }
    .subscribe-form-wrap{
        width: 90%;
    }
    .subscribe-form .email{
        width: 40%;
        margin-bottom: 10px;
    }

    /*contact us*/
    .contact-us-content{
        padding: 0;
    }
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .content-overlay {
        margin-top: 120px;
    }
    .biz-hero-registration-form {
        display: none;
        visibility: visible;
    }
    .section-clear {
        display: -webkit-box;
    }
    .about-bg2 {
        padding: 0 50px;
    }
    .single-service-promo {
        padding: 40px;
    }
}



/* Medium Devices, Desktops */
@media screen and (max-width: 992px) and (min-width: 769px) {
    /*slider section*/

    .biz-hero-slider-text{
        padding: 50px 25px;
    }

    .biz-hero-text-inner h1{
        font-size: 22px;
        line-height: 25px;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 100px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 80px;
    }


    /*demo2 slider*/
    .video-popup-slider h1{
        font-size: 50px;
        line-height: 50px;
    }
    .video-popup-slider p{
        font-size: 18px;
        line-height: 20px;
    }
    .biz-popup-video{
        margin-top: 30px;
    }

    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 45px;
        line-height: 45px;
    }

    .rotated-slider-text p{
        padding: 0 8%;
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    /*services promo section*/
    .single-service-promo{
        padding: 35px 15px 35px 15px;
    }


    /*about section*/
    .pb-100{
        padding-bottom: 40px;
    }
    .ptb-100{
        padding: 50px 0;
    }
    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }

    /*testimonial section*/
    .biz-call-to-action:after{
        width: 50%;
    }

    /*subscribe section*/
    .subscribe-content h2{
        font-size: 28px;
        line-height: 30px;
    }

    /*contact us*/
    .contact-us-content{
        padding: 30px;
    }
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1024px) and (min-width: 993px) {
    /*slider section*/

    .biz-hero-slider-text{
        padding: 50px 25px;
    }

    .biz-hero-text-inner h1{
        font-size: 22px;
        line-height: 25px;
    }

    /*demo1 slider*/
    .hero-login-form{
        padding: 0;
    }
    .biz-slider-wrap.pt-150{
        padding-top: 120px;
    }
    .biz-slider-wrap.pb-90{
        padding-bottom: 80px;
    }

    /*demo2 slider*/

    .biz-popup-video{
        margin-top: 30px;
    }

    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 50px;
        line-height: 50px;
    }

    .rotated-slider-text p{
        padding: 0 8%;
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    /*services promo section*/
    .single-service-promo{
        padding: 35px 15px 35px 15px;
    }


    /*about section*/
    .pb-100{
        padding-bottom: 40px;
    }
    .ptb-100{
        padding: 50px 0;
    }

    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }

    /*testimonial section*/
    .biz-call-to-action:after{
        width: 50%;
    }

    /*subscribe section*/
    .subscribe-content h2{
        font-size: 28px;
        line-height: 30px;
    }

    /*contact us*/
    .contact-us-content{
        padding: 30px;
    }
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1080px) and (min-width: 1025px) {
    /*slider section*/

    .biz-hero-slider-text{
        padding: 50px 25px;
    }

    .biz-hero-text-inner h1{
        font-size: 22px;
        line-height: 25px;
    }

    /*demo2 slider*/

    .biz-popup-video{
        margin-top: 30px;
    }
    /*services promo section*/
    .single-service-promo{
        padding: 35px 15px 35px 15px;
    }


    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 45px;
        line-height: 45px;
    }

    .rotated-slider-text p{
        padding: 0 8%;
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    /*about section*/
    .pb-100{
        padding-bottom: 40px;
    }
    .ptb-100{
        padding: 80px 0;
    }
    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }

    /*testimonial section*/
    .biz-call-to-action:after{
        width: 50%;
    }

    /*subscribe section*/
    .subscribe-content h2{
        font-size: 28px;
        line-height: 30px;
    }

    /*contact us*/
    .contact-us-content{
        padding: 30px;
    }
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1152px) and (min-width: 1081px) {

    /*slider section*/
    .biz-hero-slider-text{
        padding: 50px 25px;
    }

    .biz-hero-text-inner h1{
        font-size: 25px;
        line-height: 30px;
    }

    /*demo5 slider*/
    .biz-roted-text span{
        font-size: 50px;
        line-height: 50px;
    }

    .rotated-slider-text p{
        padding: 0 10%;
        margin-top: 10px;
    }
    /*services promo section*/
    .single-service-promo{
        padding: 35px 15px 35px 15px;
    }

    /*about section*/
    .pb-100{
        padding-bottom: 40px;
    }
    .ptb-100{
        padding: 80px 0;
    }
    .about-new-content h6{
        font-size: 16px;
    }
    .about-new-content h3{
        font-size: 22px;
        line-height: 28px;
    }

    /*testimonial section*/
    .biz-call-to-action:after{
        width: 50%;
    }

    /*subscribe section*/
    .subscribe-content h2{
        font-size: 28px;
        line-height: 30px;
    }

    /*contact us*/
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .page-middle {
        width: auto;
    }
    .sidebar {
        margin-bottom: 40px;
    }
    .section-clear {
        display: inline-block;
    }
}


/* Large Devices, Wide Screens */
@media screen and (max-width: 1280px) and (min-width: 1153px) {

    /*slider section*/

    .biz-hero-text-inner h1{
        font-size: 30px;
        line-height: 35px;
    }

    /*subscribe section*/
    .subscribe-content h2{
        font-size: 28px;
        line-height: 30px;
    }
    /*contact us*/
    .contact-us-content .form-group{
        margin-bottom: 15px;
    }
    .full-video video {
        width: 100%;
    }
    .content-overlay {
        display: none;
        visibility: visible;
    }
    .page-middle {
        width: auto;
    }
    .section-clear {
        display: inline-block;
    }
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1366px) and (min-width: 1281px) {

}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1440px) and (min-width: 1367px) {

}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1600px) and (min-width: 1441px) {

}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1680px) and (min-width: 1601px) {

}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1920px) and (min-width: 1681px) {
    .hero-content-left{
        left: 10%;
    }
    .hero-content-right{
        right: 10%;
    }

    .content-text h1{
        padding: 0 20%;
    }
}
