/*============================================================
[Table of contents]
01. HEADER CSS
02. SLIDER CSS
07. DOCTORS CSS
11. CONTACT US CSS
============================================================*/


/*============================================================
                    IMPORT GOOGLE FONTS
============================================================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
/*============================================================ 01. RESET CSS ============================================================*/

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote {
    font-size: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*============================================================ 
02. GENERAL CSS(body, header, btn, form, list, link, img, middle title, section bg, margin, padding, icon color)
============================================================*/
/*body css*/
html {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #494949;
    font-size: 14px;
    line-height: 24px;
}
/*header*/
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    padding: 0;
    color: #232323;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}
h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
}
h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
}
h4{
    font-size: 25px;
    line-height: 33px;
    font-weight: 600;
}
h5{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
h6{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
h3.style-1 {
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
h6.style-1 {
    font-family: 'Raleway' , sans-serif;
    font-weight: 600;
    font-size: 18px;
}
p.style-1 {
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Raleway' , Arial , sans-serif;
    font-weight: 400;
}
p.style-1 {
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Raleway' , Arial , sans-serif;
    font-weight: 400;
}

/* =================================== 
    Button 
====================================== */
.btn {
    display:inline-block;
    border:2px solid transparent;
    letter-spacing: .5px;
    line-height: inherit;
    border-radius: 0;
    text-transform: uppercase;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out 
}
/*custom-btn*/
.biz-round-btn {
    border-radius: 30px !important;
}
.biz-btn-outline {
    display: inline-block;
    padding: 4px 30px;
    border: 1px solid #232323;
    border-radius: 30px;
    background-color: transparent;
    color: #232323;
    font: 500 15px/32px 'Montserrat', sans-serif;
    -o-transition: border .3s ease, background-color .3s ease, color .3s ease;
    -webkit-transition: border .3s ease, background-color .3s ease, color .3s ease;
    -moz-transition: border .3s ease, background-color .3s ease, color .3s ease;
    transition: border .3s ease, background-color .3s ease, color .3s ease;
}
.biz-btn-outline.style-1 {
    border: 1px solid #fff;
    color: #fff;
}
.biz-btn-outline.style-1:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #505cfd;
}
.biz-btn-outline:hover {
    border: 1px solid #232323;
    background-color: #232323;
    color: #fff;
    text-decoration: none;
}
.biz-btn-solid {
    display: inline-block;
    padding: 4px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    background-color: #fff;
    color: #505cfd;
    font: 500 15px/32px 'Montserrat', sans-serif;
    -o-transition: border .3s ease, background-color .3s ease, color .3s ease;
    -webkit-transition: border .3s ease, background-color .3s ease, color .3s ease;
    -moz-transition: border .3s ease, background-color .3s ease, color .3s ease;
    transition: border .3s ease, background-color .3s ease, color .3s ease;
}
.biz-btn-solid:hover {
    border: 1px solid #333;
    background: #333;
    color: #fff;
    text-decoration: none;
}
a.biz-btn-solid:focus, a.biz-btn-solid:active{
    color: #fff;
}
a.biz-btn-solid:focus:hover{
    border: 1px solid #505cfd;
    background: transparent;
    color: #505cfd;
}
.biz-btn-solid.style-1 {
    background: #505cfd;
    border: 1px solid #505cfd;
    color: #fff;
}
.biz-btn-solid.style-1:hover {
    border: 1px solid #505cfd;
    background: transparent;
    color: #505cfd;
}
/*custom-button*/
.biz-button{
    display: inline-block;
    min-width: 60px;
    text-align: center;
    padding: 12px 35px;
    border-radius: 25px;
    text-decoration: none;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
/*form*/
.form-control {
    border: 0;
    border-bottom: 1px solid transparent;
    background: #fff;
    border-radius: 3px;
    height: 40px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.form-control:focus {
    border-color: #00a6ba;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 30px;
}
.form-group.submit-btn {
    margin-bottom: 0;
}
.section-clear {
    display: table-cell;
}
.form-control.style-1 {
    border-bottom: 1px solid #d7d7d7;
    box-shadow: none;
}
.form-control.style-1:focus {
    border-color: #505cfd;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/*list*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*link*/
a {
    color: #4152A4;
    text-decoration: none;
    transition: all 0.3s ease;
}
a, a:active, a:focus, a:active {
    text-decoration: none;
}
a:hover, a:focus {
    color: #505cfd;
    outline: none;
    text-decoration: none;
}
a.text-style-1 {
    font-family: 'Raleway' , sans-serif;
    font-weight: 700 !important;
}
b, strong{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
/*img*/
img {
    max-width: 100% 
}
.alert {
    padding: 10px;
}
.bold {
    font-weight: bold;
}
/*section bg css*/
.bg-secondary {
    background-color: #f2f2f2 !important;
}
.bg-1 {
    background-color: rgba(80,92,253,0.9);
}
.bg-white {
    background: #ffffff !important;
}
.bg-dark {
    background: rgba(0,0,0,0.8);
}
.bg-color {
    background: #505cfd !important;
}
.bg-footer {
    background: #4852e3 !important;
}
.bg-transparent {
    background: linear-gradient(to top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 100%), url(../img/slider-bg23.jpg);
    background-size: cover;
    background-position: center;
}
.grey-transparent-bg {
    background: rgba(51,51,51,0.9);
}
.color-transparent-bg {
    background: rgba(80,92,253,0.9);
}
/*text color css*/
.white-text{
    color: #fff !important;
}
.dark-text{
    color: #222 !important;
}
.color-text {
    color: #505cfd !important;
}
.bg-light-gray {
    background: #f7f7f7 !important;
}
.bg-dark-gray {
    background-color: #343434;
}
.gray-text {
    color: #6f6f6f !important;
}
/*icon and text color css*/
.icolor-1 i, .text-success{
    color: #9BCF50 !important;
}
.icolor-2 i, .text-info{
    color: #4852e3 !important;
}
.icolor-3 i, .text-color{
    color: #3b5998 !important;
}
.icolor-4 i, .text-primary{
    color: #337ab7 !important;
}
.icolor-5 i, .text-purple{
    color: #bf095d !important;
}
.icolor-6 i, .text-danger{
    color: #e84c3d !important;
}
.icolor-7 i{
    color: #19be9c !important;
}
.icolor-8 i{
    color: #4653cc !important;
}
.color-1 {
    color: #505cfd !important;
}

/*margin, padding*/
.m-0 {
    margin: 0;
}
.p-0 {
    padding: 0;
}
.mr-15{
    margin-right: 15px;
}
.br-0{
    border-right: none !important;
}
/*============================================================ 
    MARGIN TOP 
============================================================*/
.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-70 {
    margin-top: 70px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-90 {
    margin-top: 90px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-110 {
    margin-top: 110px;
}
.mt-120 {
    margin-top: 120px;
}
.mt-130 {
    margin-top: 130px;
}
.mt-140 {
    margin-top: 140px;
}
.mt-150 {
    margin-top: 150px;
}
/*============================================================ 
    MARGIN BOTTOM 
============================================================*/
.mb-0 {
    margin-bottom: 0;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-110 {
    margin-bottom: 110px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-130 {
    margin-bottom: 130px;
}
.mb-140 {
    margin-bottom: 140px;
}
.mb-150 {
    margin-bottom: 150px;
}
/*============================================================ 
    PADDING TOP 
============================================================*/
.pt-0 {
    padding-top: 0;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-70 {
    padding-top: 70px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-90 {
    padding-top: 90px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-110 {
    padding-top: 110px;
}
.pt-120 {
    padding-top: 120px;
}
.pt-130 {
    padding-top: 130px;
}
.pt-140 {
    padding-top: 140px;
}
.pt-150 {
    padding-top: 150px;
}
.pt-160 {
    padding-top: 160px;
}
.pt-170 {
    padding-top: 170px;
}
.pt-250 {
    padding-top: 250px;
}
/*============================================================ 
    PADDING RIGHT 
============================================================*/
.pr-0 {
    padding-right: 0;
}
.pr-10 {
    padding-right: 10px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-20 {
    padding-right: 20px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-40 {
    padding-right: 40px;
}
.pr-50 {
    padding-right: 50px;
}
.pr-60 {
    padding-right: 60px;
}
.pr-70 {
    padding-right: 70px;
}
.pr-80 {
    padding-right: 80px;
}
.pr-90 {
    padding-right: 90px;
}
.pr-100 {
    padding-right: 100px;
}
.pr-110 {
    padding-right: 110px;
}
.pr-120 {
    padding-right: 120px;
}
.pr-130 {
    padding-right: 130px;
}
.pr-140 {
    padding-right: 140px;
}
/*============================================================ 
    PADDING BOTTOM 
============================================================*/
.pb-0 {
    padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-110 {
    padding-bottom: 110px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pb-130 {
    padding-bottom: 130px;
}
.pb-140 {
    padding-bottom: 140px;
}
.pb-150 {
    padding-bottom: 150px;
}
/*============================================================ 
    PADDING LEFT 
============================================================*/
.pl-0 {
    padding-left: 0;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.pl-30 {
    padding-left: 30px;
}
.pl-40 {
    padding-left: 40px;
}
.pl-50 {
    padding-left: 50px;
}
.pl-60 {
    padding-left: 60px;
}
.pl-70 {
    padding-left: 70px;
}
.pl-80 {
    padding-left: 80px;
}
.pl-90 {
    padding-left: 90px;
}
.pl-100 {
    padding-left: 100px;
}
.pl-110 {
    padding-left: 110px;
}
.pl-120 {
    padding-left: 120px;
}
.pl-130 {
    padding-left: 130px;
}
.pl-140 {
    padding-left: 140px;
}
.pl-150 {
    padding-left: 150px;
}
/*padding top bottom*/
.ptb-0 {
    padding: 0;
}
.ptb-10 {
    padding: 10px 0;
}
.ptb-20 {
    padding: 20px 0;
}
.ptb-30 {
    padding: 30px 0;
}
.ptb-40 {
    padding: 40px 0;
}
.ptb-50 {
    padding: 50px 0;
}
.ptb-60 {
    padding: 60px 0;
}
.ptb-70 {
    padding: 70px 0;
}
.ptb-80 {
    padding: 80px 0;
}
.ptb-90 {
    padding: 90px 0;
}
.ptb-100 {
    padding: 100px 0;
}
.ptb-110 {
    padding: 110px 0;
}
.ptb-120 {
    padding: 120px 0;
}
.ptb-130 {
    padding: 130px 0;
}
.ptb-140 {
    padding: 140px 0;
}
.ptb-150 {
    padding: 150px 0;
}
.p-40 {
    padding: 40px;
}
.p-100 {
    padding: 100px;
}
/*============================================================ 
    SECTION MARGIN 
============================================================*/
.mtb-0 {
    margin: 0;
}
.mtb-10 {
    margin: 10px 0;
}
.mtb-15 {
    margin: 15px 0;
}
.mtb-20 {
    margin: 20px 0;
}
.mtb-30 {
    margin: 30px 0;
}
.mtb-40 {
    margin: 40px 0;
}
.mtb-50 {
    margin: 50px 0;
}
.mtb-60 {
    margin: 60px 0;
}
.mtb-70 {
    margin: 70px 0;
}
.mtb-80 {
    margin: 80px 0;
}
.mtb-90 {
    margin: 90px 0;
}
.mtb-100 {
    margin: 100px 0;
}
.mtb-110 {
    margin: 110px 0;
}
.mtb-120 {
    margin: 120px 0;
}
.mtb-130 {
    margin: 130px 0;
}
.mtb-140 {
    margin: 140px 0;
}
.mtb-150 {
    margin: 150px 0;
}
/*============================================================ 
    03. HEADER CSS
============================================================*/
#main{
    max-width: 1920px;
    margin: 0 auto;
}

/* Navbar Adjusment =========================== */
nav.navbar ul.nav > li > a{
    font-weight: 400;
}
.navbar-header>.navbar-brand{
    height: auto;
    display: block;
}
nav.navbar.bootsnav ul.nav > li > a {
    font-weight: 400;
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
nav.navbar.bootsnav.color-1 ul.nav > li > a {
    color: #222;
}
 nav.navbar.bootsnav.color-1 ul.nav > li > a:hover {
    color: #505cfd;
 }
@media (min-width: 1024px) {
    nav.bootsnav .container {
        position: relative;
        width: 1180px;
    }
    .wrap-sticky nav.navbar.bootsnav {
        border-bottom: 3px solid #526f87;
    }

   /* Navbar General ------*/
    nav.navbar ul.nav > li > a, nav.navbar.bootsnav ul.nav > li > a {
        padding: 15px 5px;
    }
    nav.navbar ul.nav > li > a:after, nav.navbar.bootsnav ul.nav > li > a:after {
        content: "|";
        padding-left: 8px;
    }
    nav.navbar ul.nav > li:last-child > a:after, nav.navbar.bootsnav ul.nav > li:last-child > a:after {
        content: '';
        padding-left: 0px;
    }
    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
        text-align: left;
    }
    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
        float: right;
        content: "\f105";
   }
   /* Navbar Center ------*/
    nav.navbar-center .navbar-brand{
        margin: 0 !important;
   }
   /* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand{
        margin: 10px !important;
   }
   /* Navbar Full ------*/
    nav.navbar-full .navbar-brand{
        position: relative;
        top: -15px;
   }
   /* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav, nav.navbar-sidebar .navbar-brand{
        margin-bottom: 50px;
   }
    nav.navbar-sidebar ul.nav > li > a{
        padding: 10px 15px;
        font-weight: bold;
   }
   /* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white{
        background-color: rgba(255,255,255,0.3);
        border-bottom: solid 1px #bbb;
   }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark, nav.navbar.bootsnav.navbar-transparent.dark{
        background-color: rgba(0,0,0,0.3);
        border-bottom: solid 1px #555;
   }
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav{
        border-left: solid 1px #bbb;
   }
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav, nav.navbar.bootsnav.navbar-transparent.dark .attr-nav{
        border-left: solid 1px #555;
   }
    nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a, nav.navbar.bootsnav.no-background.white ul.nav > li > a{
        color: #fff;
   }
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a, nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a{
        color: #eee;
   }
}
@media (max-width: 992px) {
   /* Navbar General ------*/
    nav.navbar .navbar-brand{
        padding: 10px 15px 
    }
    nav.navbar.bootsnav .navbar-nav > li > a{
        border-bottom: 0;
    }
    .attr-nav > ul > li > a{
        padding: 15px 15px 15px;
    }
   /* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav > li > a{
        padding: 15px 15px;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a{
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title{
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a{
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
   /* Navbar Full ------*/
    nav.navbar-full .navbar-brand{
        top: 0;
        padding-top: 10px;
    }
    nav.navbar.bootsnav .navbar-toggle, nav.navbar.bootsnav .navbar-call, nav.navbar.bootsnav .navbar-location {
        display: inline-block;
        margin-top: 1px;
        padding: 5px 1px;
        background: none;
        border: none;
        color: #fff;
        font-size: 28px;
   }
   nav.navbar.bootsnav .navbar-nav {
        background: none;
    }
    nav.navbar.bootsnav ul.nav > li > a {
        color: #fff !important;
    }
    nav.navbar.bootsnav .navbar-call {
        left: 50%;
        margin-top: 7px;
    }
    nav.navbar.bootsnav .navbar-location {
        float: right;
        margin-top: 7px;
        color: #b5b3b2;
    }
}
/* Border =========================== */
nav.navbar li.dropdown ul.dropdown-menu{
    border-top-color: #505cfd !important;
}
/* Background =========================== */
.attr-nav > ul > li > a span.badge, nav.navbar .share ul > li > a:hover, nav.navbar .share ul > li > a:focus{
    background-color: #505cfd;
}
/*end navber css*/
/*=============================================== 
    04. SLIDER CSS 
================================================*/
.bannar-title {
    width: 100%;
    background: url("../img/bannar.png");
    position: relative;
    overflow: hidden;
    height: 745px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page-middle {
    width: 1170px;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    margin-top: -100px;
}
.page-middle.pull-width {
    width: 100%;
}
.page-middle.marg-top {
    margin-top: -50px;
}
.pull-section {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.overlay-five{
    background: rgba(0,0,7,.50);
}
.overlay{
    background: rgba(0,0,6,.55);
}
.background-video-overlay{
    background: rgba(0,0,6,.60);
}
/*start content text slider*/
.content-text h1{
    color: #fff;
    font-size: 90px;
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    line-height: 100px;
    padding: 0 120px;
    text-transform: capitalize;
}
.content-text p{
    color: #fff;
    font-size: 24px;
    margin-bottom: 35px;
}
.registration-form-left h1{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-transform: capitalize;
}
.registration-form-left p{
    font-size: 16px;
    line-height:25px;
    color: #fff;
    font-weight: 400;
}
.video-slider-text-padding{
    padding:0;
}
/*end content text slider*/


.page-breadcrumbs {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 199;
}
.page-breadcrumbs h2 {
    color: #fff;
    font-family: 'Raleway' , sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.page-breadcrumbs p {
    color: #fff;
}
.page-breadcrumbs ul {
    margin-top: 10px;
}
.page-breadcrumbs li {
    display: inline-block;
    padding-right: 10px;
}
.page-breadcrumbs a {
    color: #fff;
}
.page-breadcrumbs a:hover {
    color: #505cfd;
}
/*start slider form two css*/

.hero-login-form{
    position: relative;
    z-index: 3;
    padding: 0 8%;
}
.hero-login-form h1{
    font-family: 'Raleway' , sans-serif;
    font-size: 58px;
    color: #fff;
}
.hero-login-form p{
    font-size: 15px;
    color: #ddd;
}
.input-field button{
    width: 100%;
}
.form-group.hero-form .form-control{
    background-image: none !important;
    border-radius: 4px;
}
.form-bg{
    margin-top: 50px;
    border-radius: 4px;
    padding: 40px 20px 30px;
    display: inline-block;
}
.hero-form .input-field input {
    min-height: 42px;
    border: 1px solid #848cfd;
    background: transparent;
    color: #fff;
    margin-bottom: 10px;
}
.hero-form .input-field input::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
    color: #fff;
}
.hero-form .input-field input::-moz-placeholder {
   /* Firefox 19+ */
    color: #fff;
}
.hero-form .input-field input:-ms-input-placeholder {
   /* IE 10+ */
    color: #fff;
}
.hero-form .input-field input:-moz-placeholder {
   /* Firefox 18- */
    color: #fff;
}
.custom-subscribe-form{
    position: relative;
    width: 60%;
}
.custom-reg-form-two{
    width: 100%;
}
/*end slider form two css*/
/*start hero slider css*/
.biz-hero-image img{
    position: relative;
}
.hero-content-left{
    left: 0;
}
.hero-content-right{
    right: 0;
}
.biz-hero-slider-text{
    position: absolute;
    top: 30%;
    background: #fff;
    padding: 50px;
    width: 50%;
}
.hero-text-inner-left{
    padding-left: 10%;
}
.hero-text-inner-right{
    padding-right: 10%;
}
.biz-hero-text-inner h1{
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
}
.biz-hero-text-inner a{
    margin-top: 20px;
}
.owl-theme .owl-nav{
    margin-top: 0;
}
.biz-hero-slider .owl-nav div {
    bottom: 45%;
    display: inline-block;
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    left: 1%;
    position: absolute;
    text-align: center;
    transform: translateX(-1%);
    transition: all 0.3s ease 0s;
}
.owl-theme.biz-hero-slider .owl-nav [class*=owl-]{
    background: transparent !important;
    color: #505cfd;
}
.owl-theme.biz-hero-slider .owl-nav [class*=owl-]:hover{
    color: #000;
}
.biz-hero-slider .owl-nav div i{
    font-size: 40px;
    line-height: 40px;
}
.biz-hero-slider .owl-nav div.owl-next {
    left: auto;
    right: 0;
}
.biz-hero-slider .owl-nav div.owl-prev{
    left: 0;
}


@media (max-width: 992px) {
    nav.navbar.bootsnav .navbar-collapse.collapse.in {
        width: 100%;
    }
    .wrap-sticky nav.navbar.bootsnav {
        z-index: 100;
    }
    #simple_second_carousel.display-mobile {
        position: relative;
        z-index: 10;
    }
    #simple_second_carousel.display-mobile .logo-contact {
        top: 0px;
        position: relative;
        padding: 0px;
    }
    #simple_second_carousel.display-mobile img {
        width: 100%;
    }
    #simple_second_carousel.display-mobile .contact-us {
        top: 0px;
        background-color: #959595;
        width: 100%;
        margin: 0 0 50px;
        min-height: 200px;
        color: #fff;
    }
    #simple_second_carousel.display-mobile .contact-us input {
        width: 80%;
        margin-left: 40px;
        background-color: #fff;
        color: #000;
    }
    #simple_second_carousel.display-mobile .contact-us p.contact-phone {
        font-size: 26px;
        padding: 10px 0;
    }
    #simple_second_carousel.display-mobile .contact-us p.contact-phone {
        font-size: 26px;
        padding: 10px 0;
        font-weight: normal;
    }
}

/*============================================================ 
    10. DOCTORS CSS 
============================================================*/
.container-title .team-three-wrap {
    border-top: 1px #00a6ba solid;
}
.container-title .team-title {
    margin: -13px auto 0px;
    width: 260px;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    color: #00a6ba;
    font-weight: bold;
}
#doctors .doctors-footer {
    height: 110px;
    background-color: #00a6ba;
    margin-top: -160px;
    position: relative;
    z-index: 10;
}
#doctors .no-padding {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -15px;
    margin-right: -15px;
}
#doctors .custom-margin {
    margin-left: 10%;
}
#doctors .biz-team-three-content {
    position: relative;
    z-index: 100;
    color: #fff;
}
.biz-team-three-info {
    margin-bottom: 70px;
}
.biz-team-three-circle {
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    margin-bottom: -90px;
}
.biz-team-three-content h6 {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    width: 85%;
}
.biz-team-three-content p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
@media (max-width: 992px) {
    #doctors .team-title {
        width: 100%;
        font-size: 36px;
    }
    #doctors .biz-team-three-content {
        height: 110px;
        background-color: #fff;
    }
    .biz-team-three-content h6, .biz-team-three-content p {
        color: #000;
    }
    #doctors .no-padding {
        margin-left: 0px;
    }
    #doctors .row {
        margin: 0 auto;
    }
    #doctors .custom-margin {
        margin-left: -15px;
    }
}
/*end team three css*/
.team-three .rotate-title {
    text-align: center;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: uppercase;
    margin-top: 45px;
    position: relative;
    right: -65%;
    width: 50%;
}
.team-three .rotate-title h6 {
    font-size: 14px;
    font-weight: 200;
}
.team-three .no-padding {
    margin-bottom: 5px;
    margin-right: -25px;
}
/*============================================================ 
    14. CONTACT US CSS 
============================================================*/
.contact-us-content{
    padding: 0 10%;
}
.footer-address {
    line-height: 22px;
}
.footer-address ul li {
    padding: 8px 0;
    color: #222;
    font-weight: 500;
}
.footer-address ul li i {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #505cfd;
    line-height: 22px;
    float: left;
    display: inline-block;
}
.footer-address ul li a {
    color: #505cfd;
}
.footer-address span {
    overflow: hidden;
    display: block;
}
.contact-us-section{
    background: url(../img/contact-us-bg-1.jpg)no-repeat top center / cover;
    position: relative;
    z-index: 1;
}
.contact-us-two{
    background: url(../img/bg-footer.jpg)no-repeat top center / cover;
    position: relative;
    z-index: 1;
}

#specialties .img-responsive.image2-item {
    width: 275px;
    height: 220px;
    max-width: none;
}
/*============================================================ 
    PRELOADER SECTION CSS 
============================================================*/
#preloader{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
}
#status, .biz-preloader {
    background-image: url(../img/preloder.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.biz-preloader {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}
/*end preloader css*/
